*{
    box-sizing: border-box;
}

body{
    /*font-family: 'Roboto','sans-serif';这里是因为没有导入import 谷歌网站上的字体，所以就注释掉了*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.containter{
    display: flex;
    width: 90vw;
}

/*设置初始状态panel的大小，位置，形状*/
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    font-size: large;
    border-radius: 50px;/*把边框变圆*/
    color: aliceblue;/*把字体设置成白色*/
    cursor: pointer;/*设置光标指针*/
    flex: 0.5;/*设置Flex属性的宽度*/
    margin: 10px;
    position: relative;
    transition: flex 0.7 ease-in;
}
/*设置初始状态的h3的字体大小及位置*/
.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

/*这里是当panels中的其中一个面板被更改成active时，它的Flex宽度变成5*/
.panel.active{
    flex: 5;
}

/*这里是当panels中的其中一个面板被更改成active时，将h3下的文字变成可见，以及出现文字慢慢显示的效果*/
.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

/*下面media函数的功能是当网站窗口的大小被放大的时候，取消显示卡片4和卡片5*/
@media(max-width: 480px){
    .containter{
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}
